<h1>David's first Ruby Application</h1>
<p>Lol I'm doing it :)</p>
	<%= link_to "Printcloud.ca", "www.printcloud.ca" %>
<a href="www.printcloud.ca">testing</a>
<br>
<%=link_to "Sign Up Now!", "#" %>

<div class ="footer">
	<small>
		<%=link_to "Testing Product", "#" %>

	</small>
</div>
